
body {
  background-image: url('QuizImageWithBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

 color: D18812;
    margin: 0 0 0 0;
    text-align: center;
    font-family: 'Times New Roman', serif;
}


#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  background:yellow;
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}
.navbar-custom {
    background-color: #e3f2fd;
}


